/* Structure */
 .example-container {
  display: flex; 
  flex-direction: column; 
  max-height: 500px;
  min-width: 300px; 
}

md-input-container.mat-input-container{
  width: 100%;
  padding-left: 32px;
  margin-left: 0;
  box-sizing: border-box;
}

md-row{
  min-height: inherit;
  align-items: center;
}

md-cell{
  min-height: 48px;
  display: flex;
  align-items: center;
}

md-cell.hoverable:hover{
  background-color: red;
}
  
/* .example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
} */
 
 .example-header {
   width: 100%;
  min-height: 64px;
  align-items: baseline;
  /* display: flex; */
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
} 

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
}

.cell-input {
  margin: 0;
}

.default-hover-background-color{
  background-color: lightgrey;
}

.adjLeft {
  // position: absolute;
  float: left;
  margin-left: 0;
  padding-left: 0;
  left: 0.5em;
  width: 15em;
}
.adjRight {
  // position: absolute;
  padding: 1em 1em 0 0;
  float: right;
  right: 0.5em;
  width: 15em;
}

button {
  z-index: 10;
}

